#outerContainer {
	display: flex;
	justify-content: center;
}

#controlsContainer {
	background: #b8b8b8;
	border: 2px solid black;
	border-right: 1px solid black;
	border-radius: 10px 0 0 10px;
	padding: 5px;
}

#gridContainer {
	display: flex;
	justify-content: center;
	height: 400px;
	width: 400px;
	border: 2px solid black;
	border-left: 1px solid black;
}

tr {
	width: 100%;
	margin: 0 auto;
}

td {
	background: blue;
	width: auto;
	margin: 0 auto;
	padding: auto;
	border: 1px solid green;
}


