#outerContainer {
	display: flex;
	justify-content: space-evenly;
}

#controlsContainer {
	background: #b8b8b8;
}

#gridContainer {
	height: 400px;
	width: 400px;
	border: 1px solid black;
}

.pixel {
	width: 1px;
	background: red;
	border: 1px solid black;
}
