:root {
	--grid-rows: 1;
	--grid-cols: 1;
}

#outerContainer {
	display: flex;
	justify-content: center;
}

#controlsContainer {
	background: #b8b8b8;
	border: 2px solid black;
	border-right: 1px solid black;
	border-radius: 10px 0 0 10px;
	padding: 5px;
}

#gridContainer {
	display: grid;
	grid-template-rows: repeat(var(--grid-rows), 1fr);
	grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.cell {
	text-align: center;
	border: 1px solid black;
}

